<div class="g-config g-config-page" ng-controller="configController">
    <section class="c-config">
        <section class="c-config-wapper" ng-class="(currentComponent == null? 'none': '')">

            <div ng-if="(currentPage != null && currentComponent == null)" config-page-header-directive></div>
            <div ng-if="(currentPage != null && currentComponent == null)" config-page-background-directive></div>
            <div ng-if="(currentPage != null && currentComponent == null)" config-page-section-directive></div>

            <div ng-if="(currentComponent != null)" config-component-header-directive></div>

            <!-- 图片 -->
            <div ng-if="(currentComponent != null) && (currentComponent.type == 'singleimage')" section-cropper-directive></div>

            <!-- 文本 -->
            <section class="c-conf-section z-expand" style="display: block;" ng-if="(currentComponent != null) && (currentComponent.type == 'singletext')">

                <section class="u-conf-section c-singletext" avalonctrl="singletext1ku">
                    <div class="c-conf-row">
                        <textarea placeholder="亲，在这里输入文本哦"></textarea>
                    </div>

                    <div class="c-conf-row c-conf-row-1">
                        <ul class="u-tab">
                            <li class="dropdown font-size">
                                <a class="small"><div class="icon-x16 x-icon-font-size"></div></a>
                            </li>
                            <li class="font-color">
                                <input class="dropdown font-color" style="color: rgb(255, 255, 255); background: rgb(51, 51, 51);">
                                <div class="font-color-layer" style="background-color: rgb(51, 51, 51);"></div>
                                <a class="small"><div class="icon-x16 x-icon-font-color"></div></a>
                            </li>
                            <li class="dropdown text-align">
                                <a class="small"><div class="icon-x16 x-icon-text-align x-icon-center"></div></a>
                            </li>
                            <li class="dropdown line-height">
                                <a class="small"><div class="icon-x16 x-icon-line-height"></div></a>
                            </li>
                        </ul>

                        <ul class="dropdown-list" type="font-size-list">
                            <li value="0">18</li>
                            <li value="0">20</li>
                            <li value="0">22</li>
                            <li value="0">24</li>
                            <li value="0">26</li>
                            <li value="0">28</li>
                            <li value="0">30</li>
                            <li value="0">32</li>
                            <li value="0">34</li>
                            <li value="0">36</li>
                            <li value="0">38</li>
                            <li value="0" class="selected">40</li>
                            <li value="0">42</li>
                            <li value="0">44</li>
                            <li value="0">46</li>
                            <li value="0">48</li>
                            <li value="0">50</li>
                            <li value="0">52</li>
                            <li value="0">54</li>
                            <li value="0">56</li>
                            <li value="0">58</li>
                            <li value="0">60</li>
                            <li value="0">62</li>
                            <li value="0">64</li>
                            <li value="0">72</li>
                            <li value="0">96</li>
                            <li value="0">100</li>
                            <li value="0">200</li>
                            <li value="0">300</li>
                            <li value="0">400</li>
                            <li value="0">500</li>
                        </ul>

                        <ul class="dropdown-list" type="text-align-list" style="display: none;">
                            <li>
                                <a class="small"><div class="icon-x16 x-icon-left"></div></a>
                            </li>
                            <li class="selected">
                                <a class="small"><div class="icon-x16 x-icon-center"></div></a>
                            </li>
                            <li>
                                <a class="small"><div class="icon-x16 x-icon-right"></div></a>
                            </li>
                            <li>
                                <a class="small"><div class="icon-x16 x-icon-justify"></div></a>
                            </li>
                        </ul>

                        <ul class="dropdown-list" type="line-height-list" style="display: none;">
                            <li value="1">1.0</li>
                            <li value="1">1.15</li>
                            <li value="1" class="selected">1.5</li>
                            <li value="2">2.0</li>
                            <li value="2">2.5</li>
                            <li value="3">3.0</li>
                            <li value="3">3.5</li>
                            <li value="4">4.0</li>
                            <li value="4">4.5</li>
                            <li value="5">5.0</li>
                        </ul>
                    </div>

                    <div class="c-conf-row c-conf-row-2">
                        <div class="c-input-box box-lf">
                            <ul class="u-tab">
                                <li class="dropdown font-face">
                                    <a class="small"><div class="icon-x16 x-icon-display x-icon-SimHei"></div></a>
                                </li>
                            </ul>

                            <ul class="dropdown-list" type="font-list" style="display: none;">
                                <li class="x-icon-SimHei selected"></li>
                                <li class="x-icon-MFShangHei_Noncommercial-ExLight"></li>
                                <li class="x-icon-maobi-Regular"></li>
                                <li class="x-icon-SentyMaruko"></li>
                                <li class="x-icon-DFPWaWaW5"></li>
                            </ul>
                        </div>
                        <div class="c-input-box box-rf">
                            <ul class="u-tab">
                                <li>
                                    <a class="small"><div class="icon-x16 x-icon-b"></div></a>
                                </li>
                                <li>
                                    <a class="small"><div class="icon-x16 x-icon-i"></div></a>
                                </li>
                                <li>
                                    <a class="small"><div class="icon-x16 x-icon-u"></div></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <section id="singleTextHTMLRender" class="f-hide">
                        <div ms-css-webkit-animation="{{comInsList[4].animeShowClass}}" ms-css-animation="{{comInsList[4].animeShowClass}}" inside-styles="" class="text-wrap" background-type="0" background-layout="center" style="border-color: rgb(204, 204, 204); border-radius: 0px; transform: rotate(0deg); opacity: 1; border-width: 0px; background-image: none; background-color: rgba(225, 225, 225, 0);">
                            <div class="c-singletext-tips-tpl">
                                <p>看右边 →_→</p>
                                <div class="c-singletext-arrow"></div>
                            </div>
                            <div class="text-content" font-face="SimHei" style="line-height: 1.5; text-align: center; font-size: 2.5em; font-family: SimHei; color: rgb(51, 51, 51);">右侧输入文本</div>
                        </div>
                    </section>
                </section>

                <div class="c-conf-panel">

                </div>
            </section>

            <section class="c-conf-section z-expand" style="display: block;" ng-if="(currentComponent != null) && (currentComponent.type == 'externallinks')">

                <section class="c-externallinks-edit" avalonctrl="externallinks1xh">

                    <div class="c-conf-row" style="display: none;">
                        <div class="c-conf-row">
                            <label class="c-input-label">网址链接</label>
                        </div>
                        <div class="c-conf-row">
                            <input class="address" placeholder="请输入链接地址，如http://www.liveapp.cn">
                        </div>
                    </div>

                    <div class="c-conf-row" style="display: block;">
                        <div class="c-conf-row">
                            <label class="c-input-label">电话号码</label>
                        </div>
                        <div class="c-conf-row">
                            <input class="phone" type="text" placeholder="请输入电话号码，如4000-168-906">
                        </div>
                    </div>

                    <div class="c-externallinks-pop" style="display: none;">
                        <div class="c-externallinks-layer">
                            <div class="c-conf-row">
                                <div class="u-image-wrap">
                                    <img src="/static/images/layer-default.png">
                                </div>
                            </div>
                            <ul class="u-layer-change-btn-wrap">
                                <li class="change-btn-image">更换</li>
                                <li class="change-btn-pre">预览</li>
                            </ul>
                        </div>
                    </div>

                    <div class="c-conf-row redirectList" style="display: none;">
                        <div class="c-conf-row">
                            <label class="c-input-label">跳转至</label>
                        </div>
                        <div class="c-dropdown-row">
                            <select>
                                <option value="0" label="第 1 页">第 1 页</option>
                                <option value="1" label="第 2 页">第 2 页</option>
                                <option value="2" label="第 3 页">第 3 页</option>
                                <option value="3" label="第 4 页">第 4 页</option>
                                <option value="4" label="第 5 页">第 5 页</option>
                            </select>
                        </div>
                    </div>

                    <div class="c-externallinks-switch">
                        <div class="c-conf-row">
                            <div class="c-switch-box">
                                <ul class="u-tab">
                                    <li>
                                        <a href="javascript:void(0);" class="z-active">文字按钮</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">图标按钮</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="c-externallinks-setting">
                        <div class="c-input-row" style="display: block;">
                            <div class="c-input-wrap">
                                <input type="text" class="btnTxt">
                            </div>
                            <div class="c-font-setting">
                                <ul>
                                    <div ng-model="currentComponent.style.fontSize" ipr-fontsize></div>
                                    <div ng-model="currentComponent.style.color" ipr-fontcolor></div>
                                    <div ng-model="currentComponent.style.textAlign" ipr-textalign></div>
                                    <div ng-model="currentComponent.style" ipr-fontstyle></div>
                                </ul>
                            </div>
                        </div>
                        <div class="u-image-row" style="display: none;">
                            <div class="u-image-wrap">
                                <div class="u-image-small">
                                    <div class="u-image-icon" style="background-image: url(&quot;/static/images/phone.png&quot;);"></div>
                                </div>
                            </div>
                            <div class="u-image-change-btn">更换图标</div>
                        </div>
                    </div>

                    <div id="externallinksHTMLRender" class="f-hide">
                        <div class="c-externallinks content" ms-css-webkit-animation="{{comInsList[0].animeShowClass}}" ms-css-animation="{{comInsList[0].animeShowClass}}" inside-styles="" src="/static/images/layer-default.png" background-type="1" background-layout="center" style="border-color: rgb(19, 167, 43); border-radius: 50rem; transform: rotate(0deg); opacity: 1; border-width: 0px; background-image: none; background-color: rgba(22, 186, 48, 0.901961);">
                            <a class="f-fix link" href="javascript:;" address="" phone="">
                                <div class="btn-txt" style="color: rgb(255, 255, 255); font-size: 1.625em;">
                                    <div class="btn-info" style="text-align: center;">
                                        拨打电话
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>

                <div class="c-conf-panel"></div>
            </section>
            <!-- 组件外观 <div ng-if="(currentComponent != null)" config-component-tabsection></div> -->
            <div ng-if="(currentComponent != null)" tab-options="data_ui_tab_facade" ui-tab></div>

            <!-- 位置 大小 结束 -->
            <div ng-if="(currentComponent != null)" config-component-position-directive></div>
        </section>

        <section class="effect f-fix">
            <header>页面特效</header>
            <div style="word-wrap:break-word;">
                {{ json }}
            </div>
        </section>

        <section class="effect-conf z-hide" style="display: none;">
            <header>
                <div class="icon-x20 icon-x20-effecticon" style="display:inline-block;"></div>
                <span>特效</span>
            </header>
            <div class="effect-item">
                <div class="effect-show-warp"></div>
            </div>
        </section>
    </section>
    <!--ms-include-end-->
</div>