<div class="c-externallinks content" inside-styles="" src="../tpl/components/links/externallinks/img/layer-default.png" background-type="1" background-layout="center" style="border-color: rgba(225, 225, 225, 0); border-radius: 50rem; transform: rotate(0deg); opacity: 1; border-width: 0px; background-image: none; background-color: rgba(225, 225, 225, 0);">
    <a class="f-fix link" href="javascript:;" address="" phone="">

        <div class="btn-icon" background-layout="center" style="background-image: url(&quot;../tpl/components/links/externallinks/img/phone.png&quot;);"></div>
    </a>
</div>

<div class="c-externallinks content" inside-styles="" src="../tpl/components/links/externallinks/img/layer-default.png" background-type="1" background-layout="center" style="border-color: rgb(212, 141, 33); border-radius: 50rem; transform: rotate(0deg); opacity: 1; border-width: 0px; background-image: none; background-color: rgba(255, 157, 0, 0.901961);">
    <a class="f-fix link" href="javascript:;" address="" phone="">
        <div class="btn-txt" style="color: rgb(255, 255, 255); font-size: 1.625em;">
            <div class="btn-info" style="text-align: center;">打开弹层</div>
        </div>

    </a>
</div>